<!-- Modal -->
<div class="modal fade" id="external-annonce-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="url-external-annonce">URL de l'annonce</label>
            <input type="text" class="form-control" id="url-external-annonce" placeholder="http://...">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default reset" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary save-external"  data-loading-text="Opération en cours...">Enregistrer</button>
      </div>
    </div>
  </div>
</div>