<div class="header-button-menu">
  <a class="btn btn-info update-current-annonce {{ifinline buttonUpdateHidden "hide"}}" href="{{updateAnnonceUrl}}">Modifier</a>
  <div class="btn-group new-annonces-btn-group {{ifinline buttonNewHidden "hide"}}">
    <button type="button" id="new-annonce" class="btn btn-primary">Ajouter une annonce</button>
    <button type="button" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Afficher le menu</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li class="disabled"><a href="#nouvelle-annonce/leboncoin" id="new-annonce-leboncoin">Ajouter depuis
        leboncoin.fr</a></li>
      <li class="disabled"><a href="#nouvelle-annonce/seloger" id="new-annonce-seloger">Ajouter depuis seloger.com</a>
      </li>
    </ul>
  </div>
</div>