@media (max-width: 767px) {
  
}

@media screen and (min-width: 768px) {
  
}

#main {
    padding-top: 58px;
}

.annonces-list .thumbnail-annonce {
  width: 200px;
  position: relative;
}

.annonces-list .price {
  font-weight: bold; 
}

.annonces-list .title, .annonce-detail .title {
  font-size: 1.2em;
  font-weight: bold; 
}

.annonces-list .thumbnail-annonce .pics-nb {
  position: relative;
  right: 20px;
  display: inline-block;
  vertical-align: bottom;
  background-color: #D3D3D3;
  width: 20px;
  text-align: center; 
  border: 1px solid gray;
  border-radius: 50%;
}

.annonces-list .creation-date {
  font-style: italic;
  font-size: 0.9em;
}

.pics-container {
  overflow: auto;
  white-space: nowrap;
}

.pics-container img {
  display: inline-block:
}


/* Detail page */
.annonce-detail .pics-nb {
  font-size: 0.9em;
  font-weight: bold;
  color: #999;
}

.comments .comment-date {
  font-style: italic;
  font-size: 0.9em;
  color: #999;
}

.comments .panel-title a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey; 
}

.comments .panel-title a.collapsed:after {
  content:"\e080";
}

.new-annonces-btn-group {
  margin-top: 8px;
}

.image-list .progress {
  margin-bottom: 0px;
}
